.signup-main-container-new{
  background-color: #F79F07;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fb-icon{
  position: absolute;
  color: #316FF6;
  font-size: 40px;
  margin-top: 3%;
  margin-left: 5%;
}
.passc-icons{
  position: absolute;
    color: black;
    margin-left:  42%;
    margin-top: -74px;
    font-size: 30px;
    z-index: 1;
}
.gog-icon{
  position: absolute;
  margin-top: 2%;
  font-size: 40px;
  z-index: 1;
  margin-top: 3%;
  margin-left: 5%;

}
.right-side-box{
  background-image: url('../Images/background.png');
  width: 50%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}
.logo-signup{
  width: 398px;
}
.signup-input span{
  position: absolute;
  margin-top: 50px;
  margin-left: 30%;
}
.group-image-signin{
  width: 90%;
    margin-top:-20%;
    margin-left: 6%;
}
.left-side-box h1{
  position: absolute;
  margin-top: -150px;
text-align: center;
font-size: 25px;
padding: 10px;
margin-left: 2%;
}
.left-side-box p{
  position: absolute;
  margin-top: -120px;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-left: 2%;
}
.signup-input input{
  width: 300%;
  margin-left: 40%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.signup-input span{
  position: absolute;
  margin-left: 35%;
}
.signup-btn{
  position: absolute;
  margin-left: 5%;
  background-color: white;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  cursor: pointer;
}
.facebook-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90%;
  margin-left: 40%;
 
}

.gog-box h3{
  z-index: 1;
  margin-top: 15px;
  margin-left: 30%;
}
.fb-box{
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 60px;
  margin-left: 20%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
  
}
.fb-box h3{
  margin-top: 15px;
  margin-left: 25%;
}
.gog-box{
  position: absolute;
  background-color: white;
  width: 20%;
  height: 60px;
 display: flex;
 margin-left: -1%;
 margin-right: 20px;
 border-radius: 10px;
 box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.left-side-box h2{
  position: absolute;
  margin-top: 85px;
  margin-left: 18%;
}
