.caro-container img{
    margin-top: 4%;
    width: 100%;
    height: 650px;
    aspect-ratio: 3/2;
    object-fit: cover;
}
.main-para{
    position: absolute;
    background-color: aliceblue;
    border: 7px solid yellow;
    width: 540px;
    height: 200px;
    margin-top: -330px;
    margin-left: 30px;
    border-radius: 81% 19% 81% 19% / 3% 100% 0% 97% ;
}
.main-para h3{
    margin: 20px;
    font-size: 30px;
    text-align: center;
}
.main-para p{
    font-size: 16px;
    margin: 20px;
    text-align: center;
}
.bee{
    width: 50px;
}
@media screen and (max-width:600px) {
    .caro-container{
        margin-top: 80px;
    }
    .caro-container img{
        margin-top: 4%;
        width: 110%;
        height: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .main-para{
        position: absolute;
        background-color: aliceblue;
        opacity: 0.9;
        border: 7px solid yellow;
        width: 330px;
        height: 150px;
        margin-top: -200px;
        margin-left: 30px;
        border-radius: 81% 19% 81% 19% / 3% 100% 0% 97% ;
    }
    .main-para h3{
        margin: 20px;
        font-size: 18px;
        text-align: center;
    }
    .main-para p{
        font-size: 14px;
        margin: 20px;
        text-align: center;
    }
}