.revive-container{
    background-image: url('../Images/Downimg.jpg');
    height: 130vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    width:100%;
    top: 451px;
   
    padding: 28px;
}
.revive-form{
    background-color: white;
    width: 650px;
    height: 800px;
    float: right;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.revive-form h1{
    color:#FF3C00 ;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    padding: 20px;
    text-align: center;
}
.revive-form h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    padding: 10px;
}
.revive-form li{
    list-style: none;
    margin: 20px;
}
.revive-form p{
    text-align: center;
    font-size: 18px;
    color: rgb(5, 154, 254);
}
.revive-form input{
    margin-left: 10%;
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
    border: 2px solid gainsboro ;
}
.revive-form input:nth-child(7){
    
    padding: 40px;
}
.join-btn{
    background-color: #d12881;
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px;
    color: white;
    border-radius: 355px 45px 225px 75px/15px 225px 15px 255px ;
}
@media screen and (max-width:600px) {
    .revive-form{
        background-color: white;
        width: 450px;
        height: 900px;
        float: right;
        border-radius: 10px;
        box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
    }   
    
}