.workshop{
    background-color: #0B0A23;
    width: 100%;
    height: 200vh;
    background-image: url('../Images/star.png');
    position: relative;
    z-index: 1;
}
.moon{
    width: 400px;
   float: right;
}
.grasss{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grasss p{
    position: absolute;
    font-size: 60px;
    color:#FEEEAB;
    margin-top:200px;
    left: 54%;
   
    
}
.grasss img{
    width: 300px;
    margin-top:250px;
    margin-left: 300px;
}

.boy img{
    width: 200px;
    margin-left: 30%;
    border-radius: 100%;

}
.boy summary{
    font-size: 20px;
    color: #FEEEAB;
    background-color: royalblue;
    width: 360px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.boy ul li{
    font-family: 'Caveat', cursive;
    font-size: 24px;
    list-style: none;
}
.boy H1{
    text-align: center;
    padding: 10px;
}
.boy{
   border-radius: 20px;
    background-color: bisque;
    height: 660px;
    width: 560px;
}
/* <--girl--> */
.girl img{
    width: 200px;
    margin-left: 30%;
    border-radius: 100%;

}
.girl summary{
    font-size: 20px;
    color: #FEEEAB;
    background-color: royalblue;
    width: 360px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.girl ul li{
    font-family: 'Caveat', cursive;
}
.girl H1{
    text-align: center;
    padding: 10px;
}
.girl{
    border-radius: 20px;
    background-color: bisque;
    height: 660px;
    width: 560px;
}
.agegroup{
    display: flex;
    /* justify-content: space-around; */
    margin-left: 170px;
    gap: 4rem;
    
}
@media screen and (max-width:600px){
    .grasss p{
        position: absolute;
        font-size: 50px;
        color:#FEEEAB;
        top: -50px;
        left: 35%;
       
        
    }
    .boy ul li{
        font-family: 'Caveat', cursive;
        font-size: 15px;
        list-style: none;
    }
    .boy summary{
        font-size: 20px;
        color: #FEEEAB;
        background-color: royalblue;
        width: 360px;
        padding: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .grasss img{
        width: 300px;
        margin-top:70px;
        margin-left: 40px;
    }
    .moon{
        width: 400px;
        position: absolute;
        margin-left: -90px;
       
    }
    .agegroup{
        display: block;
        margin-top: 20px;
        margin-left: 107px;
        
    }
    .girl summary{
        font-size: 20px;
        color: #FEEEAB;
        background-color: royalblue;
        width: 260px;
        padding: 10px;
        margin-left: 30px;
      
    }
    .boy{
   
        background-color: bisque;
        height: 660px;
        width: 400px;
        margin-left: -25px;
    }
    .girl{
   
        background-color: bisque;
        height: 660px;
        width: 400px;
        margin-left: -25px;
        margin-top: 100px;
    }
    .workshop{
        background-color: #0B0A23;
        width: 100%;
        height: 270vh;
        background-image: url('../Images/star.png');
        position: relative;
        z-index: 1;
    }
}